snippet fun
	function ${1:function_name}() {
		${0:// body...}
	}
snippet if
	if (${1:true}) {
		${0}
	}
snippet eval
	eval('('+${1}+')');
snippet jsdoc
	/* ${1}
	 * ${2:=====} */
snippet conlog
	console.log('VAR: ${1:varname}', $1);
snippet st
	setTimeout(function() {
		${2}
	}, ${1:1000});
